@use '../../scss/' as *;

.dashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    >*{
        padding: 20px;
    }
    &__options{
        width: 20%;
        background-color: gray;
        height: 100%;

        ul{
            padding-top: 20px;
            li{
                padding: 4px 12px;
                cursor: pointer;
                &.active{
                    background-color: beige;
                }
            }
        }
    }

    &__content{
        width: 80%;
        height: 100%;
        overflow-x: auto;
    }
}