.toast {
    position: fixed;
    padding: 20px 40px 20px 20px;
    right: 10px ;
    bottom: 50px;
    background-color: rgb(85, 201, 85);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
}